CompileFlags:
  # Remove Xtensa-specific flags that clangd doesn't understand
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fno-rtti
    - -falign-functions=4
    - -U__STRICT_ANSI__
    - -fipa-pta
    - -Wno-frame-address
    - -Werror=return-type
    - -free
    - -fdata-sections
    - -ffunction-sections
  # Add include paths for external libraries and ESP8266 core
  Add:
    - -I/Users/russellwhitaker/Documents/Py_Projects/openSprinkler_Firmware/external/OpenThings-Framework-Firmware-Library
    - -I/Users/russellwhitaker/Documents/Py_Projects/openSprinkler_Firmware/external/TinyWebsockets/src
    - -I/Users/russellwhitaker/.platformio/packages/framework-arduinoespressif8266/tools/sdk/include
    - -I/Users/russellwhitaker/.platformio/packages/framework-arduinoespressif8266/tools/sdk/libc/xtensa-lx106-elf/include
    - -I/Users/russellwhitaker/.platformio/packages/framework-arduinoespressif8266/cores/esp8266
    - -I/Users/russellwhitaker/.platformio/packages/framework-arduinoespressif8266/variants/d1_mini
    - -I/Users/russellwhitaker/.pio/libdeps/os3x_esp8266/ESP8266 and ESP32 OLED driver for SSD1306 displays/src
    - -DESP8266
    - -DARDUINO_ARCH_ESP8266
    - -DARDUINO=10813
    - -DARDUINO_ESP8266_WEMOS_D1MINI
    - -DF_CPU=160000000L
    - -DOS_HW_VERSION_BASE=30
    - -DOS_FW_VERSION=221
    - -DOS_FW_MINOR=4
    - -D__ets__
    - -DICACHE_FLASH

Diagnostics:
  # Suppress all warnings - code compiles fine with PlatformIO
  Suppress: '*'
  UnusedIncludes: None
  MissingIncludes: None


